// Mono
$black: #000000;
$white: #ffffff;
$gray: #999999;

.main {
  min-height: 100vh;
  background-color: $black;
  color: $gray;
}

.red_spot {
  position: absolute;
  object-fit: cover;
  right: 0;
  z-index: 10;
}

.blue_spot {
  position: absolute;
  top: 498px;
  left: 0;
  z-index: 10;
}

.white_spot {
  position: absolute;
  top: 388px;
  right: 0;
  z-index: 10;
}

.header {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  position: relative;

  .logo {
    margin-bottom: 28px;
  }

  .title {
    font-size: 70px;
    color: $white;
    margin-bottom: 13px;
    text-align: center;
  }

  .light {
    color: #fde0de;
  }

  .description {
    max-width: 968px;
    line-height: 21.28px;
    font-size: 14px;
    text-align: center;
    letter-spacing: -2%;

    &_highlited {
      color: $white;
      font-weight: 700;
    }

    &_learn {
      color: $white;
      text-decoration: underline;
    }

    svg {
      stroke: $white;
    }
  }
}

.banner {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 767px;
  padding: 10px 0 10px 0;
  opacity: 50%;
  background: #211c1c;
  cursor: pointer;
  z-index: 20;
  position: relative;
  color: $white;

  border-radius: 64px;
  border: 1px solid $white;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 5px;
  }

  &_arrow {
    visibility: hidden;
    stroke: $white;
  }

  &:hover {
    border-color: #e6c5e3;
    opacity: 100%;
    background-color: transparent;

    .banner_arrow {
      visibility: visible;
    }
  }
}

.table {
  max-width: 1069px;
  border: 1px solid $white;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 73px;
  z-index: 20;
  position: relative;
  color: $white;
  margin-bottom: 52px;

  &_header {
    padding: 35px 47px 0px 47px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .title {
      padding-bottom: 10px;
    }

    .time_filter {
      text-decoration: underline;
    }

    .filters {
      display: flex;
      flex-direction: column;
      flex-grow: 0.4;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 14px;

      .btns {
        display: flex;
        justify-content: space-between;
        width: 75%;

        .btn {
          border: 1px solid $gray;
          border-radius: 46px;
          background-color: transparent;
          color: $gray;
          width: 108px;
          padding: 7px 0 7px 0;
          text-align: center;
        }

        .btn_highlited {
          color: $white;
          border: 2px solid $white;
        }
      }

      &_sorting {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding-top: 40px;

        .sorted_by {
          color: $gray;
          font-family: "Spline Sans Mono";
        }

        .sorted_list {
          position: relative;
          z-index: 50;
        }

        .btn {
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          gap: 0.2em;
          background-color: transparent;
          border: none;
          color: $white;
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}

.table_content {
  width: 100%;
  border-spacing: 0 0.25em;

  .heading {
    color: $gray;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
  }
}

.table_content > thead > tr.highlighted_row,
.table_content > tbody > tr.table_row.highlighted_row {
  background: linear-gradient(
    90deg,
    #f3b8d8 0%,
    #b793e9 15.1%,
    #9fd4f3 26.04%,
    #ffd2c4 36.46%,
    #fbf3f3 46.88%,
    #d9abdf 57.29%,
    #af9ce3 72.4%,
    #aae4e1 85.42%,
    #c6ead0 93.23%,
    #fdb5e4 100%
  );
  opacity: 20%;
}

.table_content > tbody > tr > td {
  background-color: #ffffff0d;
  padding: 1em 0.5em;
}

.table_content > thead > tr th:first-child,
.table_content > thead > tr td:first-child,
.table_content > tbody > tr.table_row th:first-child,
.table_content > tbody > tr.table_row td:first-child {
  padding-left: 4em;
  text-align: left;
}

.table_content > thead > tr td,
.table_content > tbody > tr.table_row td {
  background-color: transparent !important;
  border-bottom: 1px solid $white;
}

.table_content > thead > tr th,
.table_content > thead > tr td,
.table_content > tbody > tr.table_row th,
.table_content > tbody > tr.table_row td {
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
}

.table_content > thead > tr:last-of-type td,
.table_content > tbody > tr.table_row:last-of-type td {
  border-bottom: none !important;
}
